*{
  box-sizing: border-box;
}

body{
  background-image: url(background.jpg);
  background-color: #cccccc;
  height: 1000px;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  font-size: 2em;
}
input{
  padding: 20px;
}
button{
  padding: 20px;
}
